
# Created by https://www.gitignore.io/api/c,linux,cmake,windows
# Edit at https://www.gitignore.io/?templates=c,linux,cmake,windows

## Compressed ##
.huff

## Videos ##
.mp3
.mp4
# End of https://www.gitignore.io/api/c,linux,cmake,windows